$esteban-color: darkblue;
$standard-margin: 30px;
$standard-border: 1px solid black;
$border-circle: 50%;
$social-media-icon-width: 32px;
$social-media-icon-height: 32px;
$social-media-icon-padding: 5px;